@mixin flex-mother(
	$flexDir: row,
	$alignItems: center,
	$justifyContent: center
) {
	display: flex;
	flex-direction: $flexDir;
	align-items: $alignItems;
	justify-content: $justifyContent;
}

@mixin size($width, $height) {
	width: $width;
	height: $height;
}

@mixin mq($media) {
	@media (max-width: $media) {
		@content;
	}
}
